<div class="todo-content">
        <h1 class="page-title">My dbitems</h1>
        <div class="dbitem-create">
          <form #dbItemForm="ngForm" (ngSubmit)="createDbItem(dbItemForm)" novalidate>
            <input type="text" id="title" class="form-control" placeholder="Type a DbItem and press enter..." 
                   required
                   name="title" [(ngModel)]="newDbItem.title"
                   #title="ngModel" >
            <div *ngIf="title.errors && title.dirty"
                 class="alert alert-danger">
                <div [hidden]="!title.errors.required">
                  Title is required.
                </div>
            </div>
          </form>
        </div>
        <ul class="dbitem-list">
          <li *ngFor="let dbItem of dbItems" [class.completed]="dbItem.completed === true" >
            <div class="dbItem-row" *ngIf="!editing || editingDbItem.id != dbItem.id">
                <a class="dbItem-completed" (click)="toggleCompleted(dbItem)">
                  <i class="material-icons toggle-completed-checkbox"></i> 
                </a> 
                <span class="dbItem-title">
                  {{dbItem.title}}
                </span>
                <span class="dbItem-actions">
                    <a (click)="editDbItem(dbItem)">
                      <i class="material-icons edit">edit</i>
                    </a>
                    <a (click)="deleteDbItem(dbItem.id)">
                      <i class="material-icons delete">clear</i>
                    </a>
                </span>
            </div>
            <div class="dbItem-edit" *ngIf="editing && editingDbItem.id === dbItem.id">
                <input class="form-control" type="text" 
                 [(ngModel)]="editingDbItem.title" required>
                <span class="edit-actions">
                    <a (click)="updateDbItem(editingDbItem)">
                      <i class="material-icons">done</i>
                    </a>
                    <a (click)="clearEditing()">
                      <i class="material-icons">clear</i>
                    </a>
                </span>
            </div>
          </li>
        </ul>
        <div class="no-dbItems" *ngIf="dbItems && dbItems.length == 0">
            <p>No DbItems Found!</p>
        </div>
    </div>